html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing:antialiased
}

a, body, button, div, footer, form, h1, h2, h3, header, html, img, input, label, li, nav, p, select, span, table, textarea, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size:100%
}

button, input, select, textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: 0;
  background: 0 0;
  color:inherit
}

li, ul {
  list-style:none
}

button:focus, input:focus, textarea:focus {
  outline:0
}

button:hover, input[type=submit]:hover {
  cursor:pointer
}

textarea {
  overflow:auto
}

a {
  color: inherit;
  text-decoration:none
}

a, img, picture, svg, video {
  display:block
}

img, svg, video {
  width: 100%;
  height:auto
}

svg {
  height:100%
}

iframe {
  position:absolute
}

#svg {
  position: fixed;
  width: 0;
  height:0
}

html {
  cursor: default;
  -webkit-tap-highlight-color:transparent
}

body {
  font-family: "s";
  background: #141414;
  color:#fff
}

#load, #load-bg, .iss-w, iframe {
  top: 0;
  left: 0;
  width: 100%;
  height:100%
}

#load {
  z-index: 9996;
  position: fixed;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:center
}

#load-bg, .iss-w {
  position: absolute;
  background:#141414
}

#load-no {
  position: relative;
  letter-spacing: .05em;
  overflow:hidden
}

#load-no div {
  will-change: transform;
  transform:translate3d(0, 300%, 0)
}

@media (min-aspect-ratio: 16/9) {
  #load-no {
      font-size: 1.6667vh;
      line-height:2.0833vh
  }
}

@media (max-aspect-ratio: 16/9) {
  #load-no {
      font-size: .9375vw;
      line-height:1.1719vw
  }
}

.iss-w {
  z-index: 9999;
  position: fixed;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size:16px
}

#p404, .iss {
  position: absolute;
  left: 0;
  width:100%
}

.iss {
  top: calc(50% - 9px);
  padding: 0 30px;
  box-sizing:border-box
}

#p404 {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
  color:#fff
}

#p404 a {
  font-size: 16px
}

.pic-img{
  border-radius: 11px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #d7fffa;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
  list-style-type: none;
  text-align: center;
  border-radius: 11px;
}

#header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1.5px;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 500;
  background: #d7fffa;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

#header .logo img {
  max-height: 40px;
  border-radius: 11px;
}

#header .logo a {
  text-decoration: none;
  color: #60c5b8;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.table {
  border: 1px solid #60c5b8;
  background-color: #ebfdfb;
  border-radius: 11px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 20em);
  margin: 1em auto;
  overflow:scroll;
  position: relative;
  text-align: center;
}

.table td, .table th {
  letter-spacing: 1.5px;
  font-family: 'Open Sans';
  color: #306063;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

.table tr th {
  background-color: #d7fffa;
  text-align: center;
  padding: 1rem;
  line-height: 1.7;
  font-size: 17px;
  font-weight: 700;
}

.table tr td {
  line-height: 1.7;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #d7fffa;
  padding: 0;
}

grammarly-editor-plugin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 2px;
}

textarea {
  padding: 15px;
  font-size: 18px;
  display: block;
  width: 92%;
  margin-top: 2%;
  border-radius: 5px;
}

#input-text {
  background-color: #fafbfb;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#input-count, #copy-button, #reword-button {
  margin: 0 1em;
  padding: 0.5em;
  font-size: 16px;
  font-weight: normal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  justify-content: space-between;
  letter-spacing: 1.2px;
}

#input-count {
  background-color: #ddeeef;
  color: #306063;
  bottom: 30px;
  left: 50px;
}

#copy-button {
  background-color: #859e9f;
  top: 40px;
  right: 50px;
}

#reword-button {
  background-color: #46949a;
  bottom: 30px;
  right: 70px;
}

#copy-button:hover, #reword-button:hover {
  background-color: #306063;
}

@media screen and (max-width: 768px) {
  .table td, .table th {
    font-size: 14px;
  }
  
  .table tr th {
    font-size: 16px;
  }
  
  .table tr td {
    font-size: 14px;
  }
  
  textarea {
    font-size: 16px;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-out;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #d7fffa;
  padding: 30px 0;
  color: #306063;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  left:0px;
  z-index: 997;
}
.footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

.footer .credits a {
  text-decoration: none;
  color: #60a5c5;
}
.credits a:hover:enabled {
  color: #306063;
}