html, body {
  background-color: #f8fdfc;
  padding-top: 50px;
  height: 100%;
}

.pic-img{
  border-radius: 11px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #d7fffa;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
  list-style-type: none;
  text-align: center;
  border-radius: 11px;
}

#header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1.5px;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 500;
  background: #d7fffa;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

#header .logo img {
  max-height: 40px;
  border-radius: 11px;
}

#header .logo a {
  text-decoration: none;
  color: #60c5b8;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.table {
  border: 1px solid #60c5b8;
  background-color: #ebfdfb;
  border-radius: 11px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 20em);
  margin: 1em auto;
  overflow:scroll;
  position: relative;
  text-align: center;
}

.table td, .table th {
  letter-spacing: 1.5px;
  font-family: 'Open Sans';
  color: #306063;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

.table tr th {
  background-color: #d7fffa;
  text-align: center;
  padding: 1rem;
  line-height: 1.7;
  font-size: 17px;
  font-weight: 700;
}

.table tr td {
  line-height: 1.7;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #d7fffa;
  padding: 0;
}

#textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 2px;
}

textarea {
  padding: 15px;
  font-size: 18px;
  display: block;
  width: 92%;
  margin-top: 2%;
  border-radius: 5px;
}

#input-text {
  background-color: #fafbfb;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#input-count, #copy-button, #reword-button {
  margin: 0 1em;
  padding: 0.5em;
  font-size: 16px;
  font-weight: normal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  justify-content: space-between;
  letter-spacing: 1.2px;
}

#input-count {
  background-color: #ddeeef;
  color: #306063;
  bottom: 8%;
  left: 4%;
}

#copy-button {
  background-color: #859e9f;
  top: 7%;
  right: 4%;
}

#reword-button {
  background-color: #46949a;
  bottom: 8%;
  right: 4%;
}

#copy-button:hover, #reword-button:hover {
  background-color: #306063;
}

@media screen and (max-width: 768px) {
  .table td, .table th {
    font-size: 14px;
  }
  
  .table tr th {
    font-size: 16px;
  }
  
  .table tr td {
    font-size: 14px;
  }
  
  textarea {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #d7fffa;
  padding: 30px 0;
  color: #306063;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  left:0px;
  z-index: 997;
}
.footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

.footer .credits a {
  text-decoration: none;
  color: #60a5c5;
}
.credits a:hover:enabled {
  color: #306063;
}