<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/assets/img/pic.png">
  </head>
  <body>
    <header id="header" class="fixed-top">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <div>
          <h1 class="logo"><a href="https://noel-brambila.web.app/home" target="_blank"><img src="../static/assets/img/pic.png" class="img-fluid" alt=""> Noel Brambila</a></h1>
        </div>
      </div>
    </header>
    <div class="table">
        <div class="title">{{ title }}</div>
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <!-- {% block scripts %}{% endblock %} -->
    {% block footer %}
    <div class="footer">
      <div class="copyright">
        Copyright <strong><span>NoahBram</span></strong>. All Rights Reserved &copy; 2023
      </div>
      <div class="credits">
        Created by <a href="https://www.linkedin.com/in/noelbrambila/" target="_blank">Noel Brambila</a>
      </div>
    </div>
    {%- endblock footer %}
  </body>
</html>
<!-- =======================================================
  Author: Noel Brambila
  License: https://www.linkedin.com/in/noelbrambila/
  ======================================================== -->
